@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  /* Add these properties for the filled effect */
  background-image: linear-gradient(#2563eb, #2563eb);
  background-repeat: no-repeat;
  background-color: #e5e7eb;
}

/* Styles for Webkit browsers (Chrome, Safari) */
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  border: 2px solid #2563eb;
  margin-top: -6px; /* to center the thumb */
  cursor: pointer;
}

.range::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 2px;
  background: transparent;
}

/* Styles for Firefox */
.range::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  border: 2px solid #2563eb;
  cursor: pointer;
}

.range::-moz-range-track {
  height: 4px;
  border-radius: 2px;
  background: transparent;
}

/* Remove default focus styles */
.range:focus {
  outline: none;
}